
<%- include('../partials/header') %>
<h3>Dev-Skills as of <%= time %></h3>
<ul>
  <% skills.forEach(function(s) { %>
    <li>
        <form action="/skills/<%= s.id %>?_method=DELETE" 
            class="delete-form" method="POST">
        <button type="submit">X</button>
      </form>
      <a href="/skills/<%= s.id %>">
        <%= s.skill %>
      </a>
    </li>
  <% }); %>
</ul>
<a href="/skills/new">Add Dev-Skill</a>

<%- include('../partials/footer') %>